In [3]:
%load_ext sql
%sql postgresql://postgres:root@localhost/SoleMateAI

#### User Role Permission

In [4]:
%sql \
    WITH detailed_role_permission_info AS ( \
        SELECT \
            r.id AS r_id, \
            r.role_name AS r_role_name, \
            STRING_AGG(CONCAT(p.permission_name, '-'), '') AS p_list_str_permissions \
        FROM roles AS r \
        JOIN roles_permissions AS rp ON r.id = rp.role_id \
        JOIN permissions AS p ON rp.permission_id = p.id \
        AND r.deleted_at IS NULL \
        AND rp.deleted_at IS NULL \
        AND p.deleted_at IS NULL \
        GROUP BY r.id \
    ) \
    SELECT \
        u.id AS u_id, \
        u.display_name AS u_display_name, \
        u.email AS u_email, \
        drpi.r_role_name AS u_role_name, \
        drpi.p_list_str_permissions AS u_list_permission_name \
    FROM users AS u \
    JOIN detailed_role_permission_info AS drpi \
    ON u.role_id = drpi.r_id \
    -- WHERE u.id = 'ea61e93e-1b40-4747-98b5-af56d1d6d4de' \
    AND u.deleted_at IS NULL;

 * postgresql://postgres:***@localhost/SoleMateAI
2 rows affected.

[(UUID('cb5aa197-125f-46b9-8ba8-e55a475257a6'), 'admin', 'admin@admin.com', 'admin', 'read_conversation-update_conversation-delete_conversation-create_review-read_review-update_review-delete_review-create_shoe-read_shoe-update_shoe-del ... (1140 characters truncated) ... e_brand-delete_brand-create_color-read_color-update_color-delete_color-create_message-read_message-update_message-delete_message-create_conversation-'),
 (UUID('2e45d7f1-6bb9-460b-97b2-9a6c33fe5152'), 'donguyenanh2k1-szJvF', 'donguyenanh2k1@gmail.com', 'user', 'create_user_session-read_user_session-update_user_session-delete_user_session-read_promotion-create_user-read_user-update_user-delete_user-read_shoe_ ... (428 characters truncated) ... -read_shoe_color-read_color_size-create_order-read_order-update_order-delete_order-create_cart_item-read_cart_item-update_cart_item-delete_cart_item-')]

#### Test Sign In

In [5]:
%sql \
    SELECT \
        u.email AS u_email, \
        us.created_at AS us_created_at, \
        us.expires_at AS us_expires_at, \
        us.deleted_at AS us_deleted_at \
    FROM users AS u \
    JOIN users_sessions AS us \
    ON u.id = us.user_id \
    AND u.deleted_at IS NULL \
    AND us.deleted_at IS NULL;

 * postgresql://postgres:***@localhost/SoleMateAI
3 rows affected.

[('donguyenanh2k1@gmail.com', datetime.datetime(2024, 5, 10, 1, 46, 5, 25404, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 5, 10, 2, 46, 5, 21403, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), None),
 ('admin@admin.com', datetime.datetime(2024, 5, 10, 1, 46, 13, 907340, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 5, 10, 2, 46, 13, 907340, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), None),
 ('donguyenanh2k1@gmail.com', datetime.datetime(2024, 5, 10, 1, 46, 34, 300607, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 5, 10, 2, 46, 34, 294848, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), None)]

In [6]:
%sql \
    SELECT \
        ci.id AS id, \
        ci.cart_id AS cart_id, \
        ci.shoe_id AS shoe_id, \
        ci.quantity AS quantity, \
        ci.display_price AS display_price, \
        ci.warehouse_price AS warehouse_price, \
        ci.discounted_price AS discounted_price, \
        ci.is_active AS is_active, \
        ci.created_at AS created_at, \
        ci.updated_at AS updated_at, \
        ci.deleted_at AS deleted_at \
    FROM cart_items AS ci \
    WHERE ci.cart_id = '098433fa-62ff-48ec-bc36-55bf4ffe3b4b' \
    AND ci.shoe_id = 'a46a125e-63ae-4269-af78-19c9becbeacc' \
    AND ci.deleted_at IS NULL;

 * postgresql://postgres:***@localhost/SoleMateAI
3 rows affected.

[(UUID('2659f72a-8e9b-4e2c-87e8-b9a84b818a2a'), UUID('098433fa-62ff-48ec-bc36-55bf4ffe3b4b'), UUID('a46a125e-63ae-4269-af78-19c9becbeacc'), 5, 10000000.0, 7500000.0, 9000000.0, True, datetime.datetime(2024, 5, 10, 1, 48, 19, 861599, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 5, 10, 1, 48, 19, 861599, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), None),
 (UUID('49ed9819-3a5f-43a0-98e0-2399d7b9d96d'), UUID('098433fa-62ff-48ec-bc36-55bf4ffe3b4b'), UUID('a46a125e-63ae-4269-af78-19c9becbeacc'), 5, 10000000.0, 7500000.0, 9000000.0, True, datetime.datetime(2024, 5, 10, 1, 50, 21, 955223, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 5, 10, 1, 50, 21, 955223, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), None),
 (UUID('ba93195c-f695-423d-a0dd-a66bc87e329f'), UUID('098433fa-62ff-48ec-bc36-55bf4ffe3b4b'), UUID('a46a125e-63ae-4269-af78-19c9becbeacc'), 5, 10000000.0, 7500000.0, 9000000.0, True, datetime.datetime(2024, 5, 10, 1, 53, 30, 301089, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 5, 10, 1, 53, 30, 301089, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), None)]