In [23]:
%load_ext sql
%sql postgresql://postgres:root@localhost/SoleMateAI

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

<img src="https://raw.githubusercontent.com/DNAnh01/assets/main/SoleMateAI/ERD.png" height="" width="" />

#### User Role Permission

In [24]:
%sql \
    WITH detailed_role_permission_info AS ( \
        SELECT \
            r.id AS r_id, \
            r.role_name AS r_role_name, \
            STRING_AGG(CONCAT(p.permission_name, '-'), '') AS p_list_str_permissions \
        FROM roles AS r \
        JOIN roles_permissions AS rp ON r.id = rp.role_id \
        JOIN permissions AS p ON rp.permission_id = p.id \
        AND r.deleted_at IS NULL \
        AND rp.deleted_at IS NULL \
        AND p.deleted_at IS NULL \
        GROUP BY r.id \
    ) \
    SELECT \
        u.id AS u_id, \
        u.display_name AS u_display_name, \
        u.email AS u_email, \
        drpi.r_role_name AS u_role_name, \
        drpi.p_list_str_permissions AS u_list_permission_name \
    FROM users AS u \
    JOIN detailed_role_permission_info AS drpi \
    ON u.role_id = drpi.r_id \
    -- WHERE u.id = 'ea61e93e-1b40-4747-98b5-af56d1d6d4de' \
    AND u.deleted_at IS NULL;

 * postgresql://postgres:***@localhost/SoleMateAI
2 rows affected.

[(UUID('ea61e93e-1b40-4747-98b5-af56d1d6d4de'), 'admin', 'admin@admin.com', 'admin', 'create_conversation-read_conversation-update_conversation-delete_conversation-create_review-read_review-update_review-delete_review-create_shoe-read_ ... (1140 characters truncated) ... and-read_brand-update_brand-delete_brand-create_color-read_color-update_color-delete_color-create_message-read_message-update_message-delete_message-'),
 (UUID('9144eaab-7158-4f1e-8fec-e9310afd3f61'), 'donguyenanh2k1-PkItQ', 'donguyenanh2k1@gmail.com', 'user', 'create_user_session-read_user_session-update_user_session-delete_user_session-read_promotion-create_user-read_user-update_user-delete_user-read_shoe_ ... (415 characters truncated) ... -read_shoe_color-read_color_size-create_order-read_order-update_order-delete_order-create_cart_item-read_cart_item-update_cart_item-delete_cart_item-')]

#### Test Sign In

In [25]:
%sql \
    SELECT \
        u.email AS u_email, \
        us.created_at AS us_created_at, \
        us.expires_at AS us_expires_at, \
        us.deleted_at AS us_deleted_at \
    FROM users AS u \
    JOIN users_sessions AS us \
    ON u.id = us.user_id \
    AND u.deleted_at IS NULL \
    AND us.deleted_at IS NULL;

 * postgresql://postgres:***@localhost/SoleMateAI
5 rows affected.

[('admin@admin.com', datetime.datetime(2024, 5, 3, 15, 31, 3, 656714, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 5, 3, 16, 31, 3, 649573, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), None),
 ('admin@admin.com', datetime.datetime(2024, 5, 3, 16, 19, 41, 347976, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 5, 3, 17, 19, 41, 339975, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), None),
 ('admin@admin.com', datetime.datetime(2024, 5, 3, 16, 25, 42, 593222, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 5, 3, 17, 25, 42, 589214, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), None),
 ('admin@admin.com', datetime.datetime(2024, 5, 3, 16, 31, 10, 73542, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 5, 3, 17, 31, 10, 66552, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), None),
 ('donguyenanh2k1@gmail.com', datetime.datetime(2024, 5, 3, 16, 34, 52, 651040, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 5, 3, 17, 34, 52, 648015, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), None)]