In [1]:
%load_ext sql
%sql postgresql://postgres:root@localhost/SoleMateAI

In [2]:
%sql SELECT order_date, status, updated_at, is_active, total_item, total_display_price, total_warehouse_price, total_discounted_price FROM orders LIMIT 10;

 * postgresql://postgres:***@localhost/SoleMateAI
10 rows affected.

[(datetime.datetime(2024, 1, 1, 0, 0), 'ORDER-DELIVERED', datetime.datetime(2024, 1, 1, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), False, 2, 1000000.0, 800000.0, 900000.0),
 (datetime.datetime(2024, 1, 2, 0, 0), 'ORDER-DELIVERED', datetime.datetime(2024, 1, 2, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), False, 3, 1500000.0, 1200000.0, 1350000.0),
 (datetime.datetime(2024, 1, 3, 0, 0), 'ORDER-DELIVERED', datetime.datetime(2024, 1, 3, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), False, 4, 2000000.0, 1600000.0, 1800000.0),
 (datetime.datetime(2024, 1, 4, 0, 0), 'ORDER-DELIVERED', datetime.datetime(2024, 1, 4, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), False, 5, 2500000.0, 2000000.0, 2250000.0),
 (datetime.datetime(2024, 1, 5, 0, 0), 'ORDER-DELIVERED', datetime.datetime(2024, 1, 5, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), False, 6, 3000000.0, 2400000.0, 2700000.0),
 (datetime.datetime(2024, 1, 6, 0, 0), 'ORDER-DELIVERED', datetime.datetime(2024, 1, 6, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), False, 7, 3500000.0, 2800000.0, 3150000.0),
 (datetime.datetime(2024, 1, 7, 0, 0), 'ORDER-DELIVERED', datetime.datetime(2024, 1, 7, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), False, 3, 1500000.0, 1200000.0, 1350000.0),
 (datetime.datetime(2024, 1, 8, 0, 0), 'ORDER-DELIVERED', datetime.datetime(2024, 1, 8, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), False, 4, 2000000.0, 1600000.0, 1800000.0),
 (datetime.datetime(2024, 1, 9, 0, 0), 'ORDER-DELIVERED', datetime.datetime(2024, 1, 9, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), False, 5, 2500000.0, 2000000.0, 2250000.0),
 (datetime.datetime(2024, 1, 10, 0, 0), 'ORDER-DELIVERED', datetime.datetime(2024, 1, 10, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), False, 2, 1000000.0, 800000.0, 900000.0)]

In [3]:
%sql SELECT user_id, rating, comment, heart_count FROM reviews LIMIT 10;

 * postgresql://postgres:***@localhost/SoleMateAI
10 rows affected.

[(UUID('41e788be-976e-4ec8-843a-fed63df0f605'), 3, 'Giày tạm được nha shop.', 109),
 (UUID('41e788be-976e-4ec8-843a-fed63df0f605'), 4, 'Giày đẹp chất lượng ổn.', 394),
 (UUID('41e788be-976e-4ec8-843a-fed63df0f605'), 5, 'Giày đẹp lắm, chất lượng tuyệt vời.', 140),
 (UUID('41e788be-976e-4ec8-843a-fed63df0f605'), 4, 'Giày đẹp chất lượng ổn.', 262),
 (UUID('41e788be-976e-4ec8-843a-fed63df0f605'), 3, 'Giày tạm được nha shop.', 406),
 (UUID('41e788be-976e-4ec8-843a-fed63df0f605'), 5, 'Giày đẹp lắm, chất lượng tuyệt vời.', 468),
 (UUID('41e788be-976e-4ec8-843a-fed63df0f605'), 3, 'Giày tạm được nha shop.', 491),
 (UUID('41e788be-976e-4ec8-843a-fed63df0f605'), 5, 'Giày đẹp lắm, chất lượng tuyệt vời.', 189),
 (UUID('41e788be-976e-4ec8-843a-fed63df0f605'), 3, 'Giày tạm được nha shop.', 479),
 (UUID('41e788be-976e-4ec8-843a-fed63df0f605'), 5, 'Giày đẹp lắm, chất lượng tuyệt vời.', 128)]

#### knowledge base of chatbot

In [30]:
%sql WITH ranked_shoes AS ( \
    SELECT \
        sho.id AS shoe_id, \
        sho.shoe_name, \
        b.brand_name, \
        s.size_number, \
        c.color_name, \
        sho.discounted_price, \
        sp.promotion_id, \
        ROW_NUMBER() OVER (PARTITION BY sho.brand_id ORDER BY sho.id) AS rn \
    FROM \
        shoes AS sho \
    JOIN \
        brands AS b ON sho.brand_id = b.id \
    JOIN \
        sizes AS s ON sho.size_id = s.id \
    JOIN \
        colors AS c ON sho.color_id = c.id \
    LEFT JOIN \
        shoes_promotions AS sp ON sho.id = sp.shoe_id \
    WHERE \
        sho.deleted_at IS NULL \
        AND b.deleted_at IS NULL \
        AND s.deleted_at IS NULL \
        AND c.deleted_at IS NULL \
) \
SELECT \
    rs.shoe_id, \
    rs.shoe_name, \
    rs.brand_name, \
    rs.size_number, \
    rs.color_name, \
    rs.discounted_price, \
    p.promotion_name, \
    p.start_date AS promotion_start_date, \
    p.end_date AS promotion_end_date, \
    p.discount_percent AS promotion_discount_percent \
FROM \
    ranked_shoes AS rs \
LEFT JOIN \
    promotions AS p ON rs.promotion_id = p.id AND p.deleted_at IS NULL \
WHERE \
    rs.rn <= 2;

 * postgresql://postgres:***@localhost/SoleMateAI
8 rows affected.

[(UUID('068dc448-f3df-4194-a808-67aef3c9938f'), 'Puma Suede Classic+', 'Puma', 39, 'Yellow', 1800000.0, 'Quay Trở Lại Trường Học', datetime.datetime(2024, 9, 1, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 9, 30, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 10),
 (UUID('078ffe30-34af-4094-8eb7-fc550e4d2b4e'), 'Puma Suede Classic+', 'Puma', 43, 'Grey', 1800000.0, 'Quay Trở Lại Trường Học', datetime.datetime(2024, 9, 1, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 9, 30, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 10),
 (UUID('06cd276f-c19e-4a1a-9878-54456e40c2cc'), 'Nike Air Max 90 Essential', 'Nike', 42, 'Blue', 1600000.0, 'Mùa Hè Sale cùng Sole Mate AI', datetime.datetime(2024, 6, 1, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 8, 31, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 20),
 (UUID('08c9d90e-e4cf-432d-b83c-596bf261bb73'), 'Nike Air Max 90 Essential', 'Nike', 40, 'Orange', 1600000.0, 'Mùa Hè Sale cùng Sole Mate AI', datetime.datetime(2024, 6, 1, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 8, 31, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 20),
 (UUID('0257643f-b1b9-41cd-ac6e-176890008ce4'), 'Reebok Classic', 'Reebok', 38, 'Light Blue', 1600000.0, 'Mùa Hè Sale cùng Sole Mate AI', datetime.datetime(2024, 6, 1, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 8, 31, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 20),
 (UUID('096c0f32-676b-4649-a42d-a79cdd6052ba'), 'Reebok Classic', 'Reebok', 41, 'Black', 1600000.0, 'Mùa Hè Sale cùng Sole Mate AI', datetime.datetime(2024, 6, 1, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 8, 31, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 20),
 (UUID('00e192b5-6242-4f3c-aecc-ef5a8f2f90e5'), 'Adidas Superstar', 'Adidas', 39, 'Blue', 1800000.0, 'Quay Trở Lại Trường Học', datetime.datetime(2024, 9, 1, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 9, 30, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 10),
 (UUID('0944bd84-462a-43a3-9fa1-cdc38a33d120'), 'Adidas Superstar', 'Adidas', 42, 'Light Blue', 1800000.0, 'Quay Trở Lại Trường Học', datetime.datetime(2024, 9, 1, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 9, 30, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 10)]