In [33]:
%load_ext sql
%sql postgresql://postgres:root@localhost/SoleMateAI

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

# ADMIN DASHBOARD

### Thống kê doanh thu, vốn, lợi nhuận theo từng giờ của một ngày nhất định được chọn trước

In [34]:
%sql \
WITH HourReference AS ( \
    SELECT 0 AS hour_of_day \
    UNION SELECT 1 UNION SELECT 2 UNION SELECT 3 \
    UNION SELECT 4 UNION SELECT 5 UNION SELECT 6 \
    UNION SELECT 7 UNION SELECT 8 UNION SELECT 9 \
    UNION SELECT 10 UNION SELECT 11 UNION SELECT 12 \
    UNION SELECT 13 UNION SELECT 14 UNION SELECT 15 \
    UNION SELECT 16 UNION SELECT 17 UNION SELECT 18 \
    UNION SELECT 19 UNION SELECT 20 UNION SELECT 21 \
    UNION SELECT 22 UNION SELECT 23 \
) \
SELECT \
    hr.hour_of_day AS time_point, \
    COALESCE(SUM(revenue_subquery.total_discounted_price), 0) AS revenue_cost, \
    COALESCE(SUM(profit_subquery.total_profit), 0) AS profit_cost, \
    COALESCE(SUM(warehouse_subquery.total_warehouse_price), 0) AS warehouse_cost \
FROM \
    HourReference hr \
LEFT JOIN ( \
    SELECT \
        EXTRACT(HOUR FROM o1.order_date) AS hour_of_day, \
        SUM(o1.total_discounted_price) AS total_discounted_price \
    FROM \
        orders o1 \
    WHERE \
        TO_CHAR(o1.order_date, 'YYYY-MM-DD') = '2024-05-01' \
        AND o1.status = 'ORDER-DELIVERED' \
    GROUP BY \
        EXTRACT(HOUR FROM o1.order_date) \
) revenue_subquery ON hr.hour_of_day = revenue_subquery.hour_of_day \
LEFT JOIN ( \
    SELECT \
        EXTRACT(HOUR FROM o2.order_date) AS hour_of_day, \
        SUM(CASE WHEN o2.total_discounted_price - o2.total_warehouse_price > 0 THEN o2.total_discounted_price - o2.total_warehouse_price ELSE 0 END) AS total_profit \
    FROM \
        orders o2 \
    WHERE \
        TO_CHAR(o2.order_date, 'YYYY-MM-DD') = '2024-05-01' \
        AND o2.status = 'ORDER-DELIVERED' \
    GROUP BY \
        EXTRACT(HOUR FROM o2.order_date) \
) profit_subquery ON hr.hour_of_day = profit_subquery.hour_of_day \
LEFT JOIN ( \
    SELECT \
        EXTRACT(HOUR FROM o3.order_date) AS hour_of_day, \
        SUM(o3.total_warehouse_price) AS total_warehouse_price \
    FROM \
        orders o3 \
    WHERE \
        TO_CHAR(o3.order_date, 'YYYY-MM-DD') = '2024-05-01' \
        AND o3.status = 'ORDER-DELIVERED' \
    GROUP BY \
        EXTRACT(HOUR FROM o3.order_date) \
) warehouse_subquery ON hr.hour_of_day = warehouse_subquery.hour_of_day \
GROUP BY \
    hr.hour_of_day \
ORDER BY \
    hr.hour_of_day;

 * postgresql://postgres:***@localhost/SoleMateAI
24 rows affected.

[(0, 0.0, 0.0, 0.0),
 (1, 0.0, 0.0, 0.0),
 (2, 0.0, 0.0, 0.0),
 (3, 0.0, 0.0, 0.0),
 (4, 0.0, 0.0, 0.0),
 (5, 0.0, 0.0, 0.0),
 (6, 0.0, 0.0, 0.0),
 (7, 0.0, 0.0, 0.0),
 (8, 182751000.0, 41253000.0, 141498000.0),
 (9, 37702000.0, 11104000.0, 26598000.0),
 (10, 67007000.0, 28728000.0, 38279000.0),
 (11, 22730000.0, 4807000.0, 17923000.0),
 (12, 100612000.0, 35832000.0, 64780000.0),
 (13, 0.0, 0.0, 0.0),
 (14, 0.0, 0.0, 0.0),
 (15, 34107000.0, 25459000.0, 8648000.0),
 (16, 0.0, 0.0, 0.0),
 (17, 156399000.0, 27712000.0, 128687000.0),
 (18, 0.0, 0.0, 0.0),
 (19, 161100000.0, 68564000.0, 92536000.0),
 (20, 0.0, 0.0, 0.0),
 (21, 0.0, 0.0, 0.0),
 (22, 0.0, 0.0, 0.0),
 (23, 0.0, 0.0, 0.0)]

### Thống kê doanh thu, vốn, lợi nhuận theo từng giờ của một ngày nhất định được chọn trước

In [35]:
%sql SELECT order_date, status, updated_at, is_active, total_item, total_display_price, total_warehouse_price, total_discounted_price FROM orders LIMIT 10;

 * postgresql://postgres:***@localhost/SoleMateAI
10 rows affected.

[(datetime.datetime(2024, 6, 20, 16, 55, 31), 'ORDER-DELIVERED', datetime.datetime(2024, 6, 20, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), False, 7, 35783000.0, 21192000.0, 24721000.0),
 (datetime.datetime(2024, 6, 20, 16, 55, 31), 'ORDER-DELIVERED', datetime.datetime(2024, 6, 20, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), False, 7, 35783000.0, 21192000.0, 24721000.0),
 (datetime.datetime(2024, 4, 1, 10, 50, 53), 'ORDER-DELIVERED', datetime.datetime(2024, 4, 1, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), False, 6, 41069000.0, 10111000.0, 17997000.0),
 (datetime.datetime(2024, 4, 1, 10, 50, 53), 'ORDER-DELIVERED', datetime.datetime(2024, 4, 1, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), False, 6, 41069000.0, 10111000.0, 17997000.0),
 (datetime.datetime(2024, 4, 1, 10, 50, 53), 'ORDER-DELIVERED', datetime.datetime(2024, 4, 1, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), False, 6, 41069000.0, 10111000.0, 17997000.0),
 (datetime.datetime(2024, 4, 1, 10, 50, 53), 'ORDER-DELIVERED', datetime.datetime(2024, 4, 1, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), False, 6, 41069000.0, 10111000.0, 17997000.0),
 (datetime.datetime(2024, 4, 1, 10, 50, 53), 'ORDER-DELIVERED', datetime.datetime(2024, 4, 1, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), False, 6, 41069000.0, 10111000.0, 17997000.0),
 (datetime.datetime(2024, 4, 1, 10, 50, 53), 'ORDER-DELIVERED', datetime.datetime(2024, 4, 1, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), False, 6, 41069000.0, 10111000.0, 17997000.0),
 (datetime.datetime(2024, 4, 1, 10, 50, 53), 'ORDER-DELIVERED', datetime.datetime(2024, 4, 1, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), False, 6, 41069000.0, 10111000.0, 17997000.0),
 (datetime.datetime(2024, 4, 1, 9, 34, 51), 'ORDER-DELIVERED', datetime.datetime(2024, 4, 1, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), False, 3, 45085000.0, 9974000.0, 35054000.0)]

In [36]:
%sql SELECT user_id, rating, comment, heart_count FROM reviews LIMIT 10;

 * postgresql://postgres:***@localhost/SoleMateAI
10 rows affected.

[(UUID('d9b31993-ceb9-4be8-9a8c-6ba29c8899dc'), 4, 'Giày đẹp chất lượng ổn.', 281),
 (UUID('d9b31993-ceb9-4be8-9a8c-6ba29c8899dc'), 4, 'Giày đẹp chất lượng ổn.', 419),
 (UUID('d9b31993-ceb9-4be8-9a8c-6ba29c8899dc'), 4, 'Giày đẹp chất lượng ổn.', 209),
 (UUID('d9b31993-ceb9-4be8-9a8c-6ba29c8899dc'), 5, 'Giày đẹp lắm, chất lượng tuyệt vời.', 496),
 (UUID('d9b31993-ceb9-4be8-9a8c-6ba29c8899dc'), 3, 'Giày tạm được nha shop.', 109),
 (UUID('d9b31993-ceb9-4be8-9a8c-6ba29c8899dc'), 4, 'Giày đẹp chất lượng ổn.', 478),
 (UUID('d9b31993-ceb9-4be8-9a8c-6ba29c8899dc'), 3, 'Giày tạm được nha shop.', 123),
 (UUID('d9b31993-ceb9-4be8-9a8c-6ba29c8899dc'), 4, 'Giày đẹp chất lượng ổn.', 277),
 (UUID('d9b31993-ceb9-4be8-9a8c-6ba29c8899dc'), 5, 'Giày đẹp lắm, chất lượng tuyệt vời.', 312),
 (UUID('d9b31993-ceb9-4be8-9a8c-6ba29c8899dc'), 4, 'Giày đẹp chất lượng ổn.', 423)]

#### knowledge base of chatbot

In [37]:
%sql WITH ranked_shoes AS ( \
    SELECT \
        sho.id AS shoe_id, \
        sho.shoe_name, \
        b.brand_name, \
        s.size_number, \
        c.color_name, \
        sho.discounted_price, \
        sp.promotion_id, \
        ROW_NUMBER() OVER (PARTITION BY sho.brand_id ORDER BY sho.id) AS rn \
    FROM \
        shoes AS sho \
    JOIN \
        brands AS b ON sho.brand_id = b.id \
    JOIN \
        sizes AS s ON sho.size_id = s.id \
    JOIN \
        colors AS c ON sho.color_id = c.id \
    LEFT JOIN \
        shoes_promotions AS sp ON sho.id = sp.shoe_id \
    WHERE \
        sho.deleted_at IS NULL \
        AND b.deleted_at IS NULL \
        AND s.deleted_at IS NULL \
        AND c.deleted_at IS NULL \
        AND sp.promotion_id IS NOT NULL \
) \
SELECT \
    rs.shoe_id, \
    rs.shoe_name, \
    rs.brand_name, \
    rs.size_number, \
    rs.color_name, \
    rs.discounted_price, \
    p.promotion_name, \
    p.start_date AS promotion_start_date, \
    p.end_date AS promotion_end_date, \
    p.discount_percent AS promotion_discount_percent \
FROM \
    ranked_shoes AS rs \
LEFT JOIN \
    promotions AS p ON rs.promotion_id = p.id AND p.deleted_at IS NULL \
WHERE \
    rs.rn <= 2;

 * postgresql://postgres:***@localhost/SoleMateAI
8 rows affected.

[(UUID('10baa5f3-a118-4e65-a1c6-b4e80a374de8'), 'Adidas Superstar', 'Adidas', 42, 'Yellow', 1800000.0, 'Quay Trở Lại Trường Học', datetime.datetime(2024, 9, 1, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 9, 30, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 10),
 (UUID('1c332320-19be-408b-b6d3-7a57989bd2c2'), 'Adidas Superstar', 'Adidas', 43, 'Black', 1800000.0, 'Quay Trở Lại Trường Học', datetime.datetime(2024, 9, 1, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 9, 30, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 10),
 (UUID('06f82117-edee-49f1-8b17-e4a6424dc473'), 'Reebok Classic', 'Reebok', 42, 'Yellow', 1600000.0, 'Mùa Hè Sale cùng Sole Mate AI', datetime.datetime(2024, 6, 1, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 8, 31, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 20),
 (UUID('2ecb7b17-0014-458d-9fce-c4546836648a'), 'Reebok Classic', 'Reebok', 43, 'Orange', 1600000.0, 'Mùa Hè Sale cùng Sole Mate AI', datetime.datetime(2024, 6, 1, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 8, 31, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 20),
 (UUID('4571791e-6508-4086-8906-69f21c50ab5f'), 'Nike Air Max 90 Essential', 'Nike', 43, 'Blue', 1600000.0, 'Mùa Hè Sale cùng Sole Mate AI', datetime.datetime(2024, 6, 1, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 8, 31, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 20),
 (UUID('4571f9e6-6bf5-4595-957c-b661b61851e3'), 'Nike Air Max 90 Essential', 'Nike', 42, 'Light Blue', 1600000.0, 'Mùa Hè Sale cùng Sole Mate AI', datetime.datetime(2024, 6, 1, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 8, 31, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 20),
 (UUID('0d6b9113-8044-4c3c-aba5-a12b270e4ae8'), 'Puma Suede Classic+', 'Puma', 42, 'Light Blue', 1800000.0, 'Quay Trở Lại Trường Học', datetime.datetime(2024, 9, 1, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 9, 30, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 10),
 (UUID('2fda2da6-5c53-4b00-a1f3-645beef4825b'), 'Puma Suede Classic+', 'Puma', 43, 'Orange', 1800000.0, 'Quay Trở Lại Trường Học', datetime.datetime(2024, 9, 1, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 9, 30, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 10)]