In [1]:
%load_ext sql
%sql postgresql://postgres:root@localhost/SoleMateAI

# ADMIN DASHBOARD

## CHARTS
### Statistic revenue, profit, capital by hour of a specific day

In [2]:
%sql \
WITH HourReference AS ( \
    SELECT 0 AS hour_of_day \
    UNION SELECT 1 UNION SELECT 2 UNION SELECT 3 \
    UNION SELECT 4 UNION SELECT 5 UNION SELECT 6 \
    UNION SELECT 7 UNION SELECT 8 UNION SELECT 9 \
    UNION SELECT 10 UNION SELECT 11 UNION SELECT 12 \
    UNION SELECT 13 UNION SELECT 14 UNION SELECT 15 \
    UNION SELECT 16 UNION SELECT 17 UNION SELECT 18 \
    UNION SELECT 19 UNION SELECT 20 UNION SELECT 21 \
    UNION SELECT 22 UNION SELECT 23 \
) \
SELECT \
    hr.hour_of_day AS time_point, \
    COALESCE(SUM(revenue_subquery.total_discounted_price), 0) AS revenue_cost, \
    COALESCE(SUM(profit_subquery.total_profit), 0) AS profit_cost, \
    COALESCE(SUM(warehouse_subquery.total_warehouse_price), 0) AS warehouse_cost \
FROM \
    HourReference hr \
LEFT JOIN ( \
    SELECT \
        EXTRACT(HOUR FROM o1.order_date) AS hour_of_day, \
        SUM(o1.total_discounted_price) AS total_discounted_price \
    FROM \
        orders o1 \
    WHERE \
        TO_CHAR(o1.order_date, 'DD/MM/YYYY') = '01/05/2024' \
        AND o1.status = 'ORDER-DELIVERED' \
    GROUP BY \
        EXTRACT(HOUR FROM o1.order_date) \
) revenue_subquery ON hr.hour_of_day = revenue_subquery.hour_of_day \
LEFT JOIN ( \
    SELECT \
        EXTRACT(HOUR FROM o2.order_date) AS hour_of_day, \
        SUM(o2.total_discounted_price - o2.total_warehouse_price) AS total_profit \
    FROM \
        orders o2 \
    WHERE \
        TO_CHAR(o2.order_date, 'DD/MM/YYYY') = '01/05/2024' \
        AND o2.status = 'ORDER-DELIVERED' \
    GROUP BY \
        EXTRACT(HOUR FROM o2.order_date) \
) profit_subquery ON hr.hour_of_day = profit_subquery.hour_of_day \
LEFT JOIN ( \
    SELECT \
        EXTRACT(HOUR FROM o3.order_date) AS hour_of_day, \
        SUM(o3.total_warehouse_price) AS total_warehouse_price \
    FROM \
        orders o3 \
    WHERE \
        TO_CHAR(o3.order_date, 'DD/MM/YYYY') = '01/05/2024' \
        AND o3.status = 'ORDER-DELIVERED' \
    GROUP BY \
        EXTRACT(HOUR FROM o3.order_date) \
) warehouse_subquery ON hr.hour_of_day = warehouse_subquery.hour_of_day \
GROUP BY \
    hr.hour_of_day \
ORDER BY \
    hr.hour_of_day;

 * postgresql://postgres:***@localhost/SoleMateAI
24 rows affected.

[(0, 0.0, 0.0, 0.0),
 (1, 0.0, 0.0, 0.0),
 (2, 0.0, 0.0, 0.0),
 (3, 0.0, 0.0, 0.0),
 (4, 0.0, 0.0, 0.0),
 (5, 0.0, 0.0, 0.0),
 (6, 0.0, 0.0, 0.0),
 (7, 49166000.0, 32810000.0, 16356000.0),
 (8, 0.0, 0.0, 0.0),
 (9, 140160000.0, 85808000.0, 54352000.0),
 (10, 25035000.0, 13933000.0, 11102000.0),
 (11, 0.0, 0.0, 0.0),
 (12, 0.0, 0.0, 0.0),
 (13, 13954000.0, 1382000.0, 12572000.0),
 (14, 0.0, 0.0, 0.0),
 (15, 34345000.0, 19379000.0, 14966000.0),
 (16, 0.0, 0.0, 0.0),
 (17, 0.0, 0.0, 0.0),
 (18, 0.0, 0.0, 0.0),
 (19, 120951000.0, 13803000.0, 107148000.0),
 (20, 0.0, 0.0, 0.0),
 (21, 0.0, 0.0, 0.0),
 (22, 0.0, 0.0, 0.0),
 (23, 0.0, 0.0, 0.0)]

### Statistic revenue, profit, capital by day of a specific month

In [3]:
%sql \
WITH RECURSIVE DayReference AS ( \
    SELECT 1 AS day_of_month \
    UNION ALL \
    SELECT day_of_month + 1 \
    FROM DayReference \
    WHERE day_of_month < EXTRACT(DAY FROM DATE_TRUNC('month', TO_DATE('05/2024', 'MM/YYYY')) + INTERVAL '1 month' - INTERVAL '1 day') \
) \
SELECT \
    dr.day_of_month AS time_point, \
    COALESCE(SUM(revenue_subquery.total_revenue), 0) AS revenue_cost, \
    COALESCE(SUM(profit_subquery.total_profit), 0) AS profit_cost, \
    COALESCE(SUM(warehouse_subquery.total_warehouse_price), 0) AS warehouse_cost \
FROM \
    DayReference dr \
LEFT JOIN ( \
    SELECT \
        EXTRACT(DAY FROM o1.order_date) AS day_of_month, \
        SUM(o1.total_discounted_price) AS total_revenue \
    FROM \
        orders o1 \
    WHERE \
        TO_CHAR(o1.order_date, 'MM/YYYY') = '05/2024' \
        AND o1.status = 'ORDER-DELIVERED' \
    GROUP BY \
        EXTRACT(DAY FROM o1.order_date) \
) revenue_subquery ON dr.day_of_month = revenue_subquery.day_of_month \
LEFT JOIN ( \
    SELECT \
        EXTRACT(DAY FROM o2.order_date) AS day_of_month, \
        SUM(o2.total_discounted_price - o2.total_warehouse_price) AS total_profit \
    FROM \
        orders o2 \
    WHERE \
        TO_CHAR(o2.order_date, 'MM/YYYY') = '05/2024' \
        AND o2.status = 'ORDER-DELIVERED' \
    GROUP BY \
        EXTRACT(DAY FROM o2.order_date) \
) profit_subquery ON dr.day_of_month = profit_subquery.day_of_month \
LEFT JOIN ( \
    SELECT \
        EXTRACT(DAY FROM o3.order_date) AS day_of_month, \
        SUM(o3.total_warehouse_price) AS total_warehouse_price \
    FROM \
        orders o3 \
    WHERE \
        TO_CHAR(o3.order_date, 'MM/YYYY') = '05/2024' \
        AND o3.status = 'ORDER-DELIVERED' \
    GROUP BY \
        EXTRACT(DAY FROM o3.order_date) \
) warehouse_subquery ON dr.day_of_month = warehouse_subquery.day_of_month \
GROUP BY \
    dr.day_of_month \
ORDER BY \
    dr.day_of_month;

 * postgresql://postgres:***@localhost/SoleMateAI
31 rows affected.

[(1, 383611000.0, 167115000.0, 216496000.0),
 (2, 116991000.0, 92247000.0, 24744000.0),
 (3, 143710000.0, 45030000.0, 98680000.0),
 (4, 151583000.0, 63295000.0, 88288000.0),
 (5, 392359000.0, 257059000.0, 135300000.0),
 (6, 0.0, 0.0, 0.0),
 (7, 54040000.0, 19652000.0, 34388000.0),
 (8, 264882000.0, 29478000.0, 235404000.0),
 (9, 303270000.0, 191900000.0, 111370000.0),
 (10, 0.0, 0.0, 0.0),
 (11, 140056000.0, 23104000.0, 116952000.0),
 (12, 76430000.0, 23201000.0, 53229000.0),
 (13, 393843000.0, 139219000.0, 254624000.0),
 (14, 0.0, 0.0, 0.0),
 (15, 0.0, 0.0, 0.0),
 (16, 0.0, 0.0, 0.0),
 (17, 73688000.0, 5758000.0, 67930000.0),
 (18, 134481000.0, 56719000.0, 77762000.0),
 (19, 138568000.0, 82147000.0, 56421000.0),
 (20, 234508000.0, 98692000.0, 135816000.0),
 (21, 114025000.0, 9536000.0, 104489000.0),
 (22, 15858000.0, 4856000.0, 11002000.0),
 (23, 183694000.0, 15869000.0, 167825000.0),
 (24, 210434000.0, 24892000.0, 185542000.0),
 (25, 0.0, 0.0, 0.0),
 (26, 0.0, 0.0, 0.0),
 (27, 288953000.0, 85407000.0, 203546000.0),
 (28, 72875000.0, 18297000.0, 54578000.0),
 (29, 243064000.0, 85768000.0, 157296000.0),
 (30, 57544000.0, 12746000.0, 44798000.0),
 (31, 179305000.0, 43978000.0, 135327000.0)]

### Statistic revenue, profit, capital by month of a specific year

In [4]:
%sql \
WITH MonthReference AS ( \
    SELECT 1 AS month_of_year \
    UNION ALL \
    SELECT 2 UNION SELECT 3 UNION SELECT 4 \
    UNION SELECT 5 UNION SELECT 6 UNION SELECT 7 \
    UNION SELECT 8 UNION SELECT 9 UNION SELECT 10 \
    UNION SELECT 11 UNION SELECT 12 \
) \
SELECT \
    mr.month_of_year AS time_point, \
    COALESCE(SUM(revenue_subquery.total_revenue), 0) AS revenue_cost, \
    COALESCE(SUM(profit_subquery.total_profit), 0) AS profit_cost, \
    COALESCE(SUM(warehouse_subquery.total_warehouse_price), 0) AS warehouse_cost \
FROM \
    MonthReference mr \
LEFT JOIN ( \
    SELECT \
        EXTRACT(MONTH FROM o1.order_date) AS month_of_year, \
        SUM(o1.total_discounted_price) AS total_revenue \
    FROM \
        orders o1 \
    WHERE \
        TO_CHAR(o1.order_date, 'YYYY') = '2024' \
        AND o1.status = 'ORDER-DELIVERED' \
    GROUP BY \
        EXTRACT(MONTH FROM o1.order_date) \
) revenue_subquery ON mr.month_of_year = revenue_subquery.month_of_year \
LEFT JOIN ( \
    SELECT \
        EXTRACT(MONTH FROM o2.order_date) AS month_of_year, \
        SUM(o2.total_discounted_price - o2.total_warehouse_price) AS total_profit \
    FROM \
        orders o2 \
    WHERE \
        TO_CHAR(o2.order_date, 'YYYY') = '2024' \
        AND o2.status = 'ORDER-DELIVERED' \
    GROUP BY \
        EXTRACT(MONTH FROM o2.order_date) \
) profit_subquery ON mr.month_of_year = profit_subquery.month_of_year \
LEFT JOIN ( \
    SELECT \
        EXTRACT(MONTH FROM o3.order_date) AS month_of_year, \
        SUM(o3.total_warehouse_price) AS total_warehouse_price \
    FROM \
        orders o3 \
    WHERE \
        TO_CHAR(o3.order_date, 'YYYY') = '2024' \
        AND o3.status = 'ORDER-DELIVERED' \
    GROUP BY \
        EXTRACT(MONTH FROM o3.order_date) \
) warehouse_subquery ON mr.month_of_year = warehouse_subquery.month_of_year \
GROUP BY \
    mr.month_of_year \
ORDER BY \
    mr.month_of_year;

 * postgresql://postgres:***@localhost/SoleMateAI
12 rows affected.

[(1, 0.0, 0.0, 0.0),
 (2, 0.0, 0.0, 0.0),
 (3, 0.0, 0.0, 0.0),
 (4, 4520327000.0, 1410387000.0, 3109940000.0),
 (5, 4367772000.0, 1595965000.0, 2771807000.0),
 (6, 3076629000.0, 715760000.0, 2360869000.0),
 (7, 0.0, 0.0, 0.0),
 (8, 0.0, 0.0, 0.0),
 (9, 0.0, 0.0, 0.0),
 (10, 0.0, 0.0, 0.0),
 (11, 0.0, 0.0, 0.0),
 (12, 0.0, 0.0, 0.0)]

## STATS
### Total revenue, profit, capital, item sold of a specific day

In [5]:
%sql \
WITH revenue_profit_warehouse AS ( \
    SELECT \
        COALESCE(SUM(revenue_subquery.total_revenue), 0) AS revenue_cost, \
        COALESCE(SUM(profit_subquery.total_profit), 0) AS profit_cost, \
        COALESCE(SUM(warehouse_subquery.total_warehouse_price), 0) AS warehouse_cost \
    FROM \
        ( \
            SELECT \
                SUM(o1.total_discounted_price) AS total_revenue \
            FROM \
                orders o1 \
            WHERE \
                TO_CHAR(o1.order_date, 'DD/MM/YYYY') = '01/05/2024' \
                AND o1.status = 'ORDER-DELIVERED' \
        ) revenue_subquery, \
        ( \
            SELECT \
                SUM(o2.total_discounted_price - o2.total_warehouse_price) AS total_profit \
            FROM \
                orders o2 \
            WHERE \
                TO_CHAR(o2.order_date, 'DD/MM/YYYY') = '01/05/2024' \
                AND o2.status = 'ORDER-DELIVERED' \
        ) profit_subquery, \
        ( \
            SELECT \
                SUM(o3.total_warehouse_price) AS total_warehouse_price \
            FROM \
                orders o3 \
            WHERE \
                TO_CHAR(o3.order_date, 'DD/MM/YYYY') = '01/05/2024' \
                AND o3.status = 'ORDER-DELIVERED' \
        ) warehouse_subquery \
) \
SELECT \
    rp.revenue_cost, \
    rp.profit_cost, \
    rp.warehouse_cost, \
    TO_CHAR(o.order_date, 'DD/MM/YYYY') AS selected_day, \
    SUM(o.total_item) AS total_items_sold \
FROM \
    orders o \
CROSS JOIN \
    revenue_profit_warehouse rp \
WHERE \
    TO_CHAR(o.order_date, 'DD/MM/YYYY') = '01/05/2024' \
    AND o.status = 'ORDER-DELIVERED' \
GROUP BY \
    TO_CHAR(o.order_date, 'DD/MM/YYYY'), \
    rp.revenue_cost, \
    rp.profit_cost, \
    rp.warehouse_cost \
ORDER BY \
    selected_day;

 * postgresql://postgres:***@localhost/SoleMateAI
1 rows affected.

[(383611000.0, 167115000.0, 216496000.0, '01/05/2024', 90)]

In [6]:
%sql SELECT order_date, status, updated_at, is_active, total_item, total_display_price, total_warehouse_price, total_discounted_price FROM orders LIMIT 10;

 * postgresql://postgres:***@localhost/SoleMateAI
10 rows affected.

[(datetime.datetime(2024, 4, 1, 12, 55, 34), 'ORDER-DELIVERED', datetime.datetime(2024, 4, 1, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), False, 9, 35521000.0, 27048000.0, 32265000.0),
 (datetime.datetime(2024, 4, 1, 18, 39, 42), 'ORDER-DELIVERED', datetime.datetime(2024, 4, 1, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), False, 4, 40279000.0, 25912000.0, 30624000.0),
 (datetime.datetime(2024, 4, 1, 18, 39, 42), 'ORDER-DELIVERED', datetime.datetime(2024, 4, 1, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), False, 4, 40279000.0, 25912000.0, 30624000.0),
 (datetime.datetime(2024, 4, 1, 18, 39, 42), 'ORDER-DELIVERED', datetime.datetime(2024, 4, 1, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), False, 4, 40279000.0, 25912000.0, 30624000.0),
 (datetime.datetime(2024, 4, 1, 18, 39, 42), 'ORDER-DELIVERED', datetime.datetime(2024, 4, 1, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), False, 4, 40279000.0, 25912000.0, 30624000.0),
 (datetime.datetime(2024, 4, 1, 18, 39, 42), 'ORDER-DELIVERED', datetime.datetime(2024, 4, 1, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), False, 4, 40279000.0, 25912000.0, 30624000.0),
 (datetime.datetime(2024, 4, 2, 10, 10, 9), 'ORDER-DELIVERED', datetime.datetime(2024, 4, 2, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), False, 2, 39793000.0, 25697000.0, 28856000.0),
 (datetime.datetime(2024, 4, 2, 10, 10, 9), 'ORDER-DELIVERED', datetime.datetime(2024, 4, 2, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), False, 2, 39793000.0, 25697000.0, 28856000.0),
 (datetime.datetime(2024, 4, 2, 10, 10, 9), 'ORDER-DELIVERED', datetime.datetime(2024, 4, 2, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), False, 2, 39793000.0, 25697000.0, 28856000.0),
 (datetime.datetime(2024, 4, 2, 10, 10, 9), 'ORDER-DELIVERED', datetime.datetime(2024, 4, 2, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), False, 2, 39793000.0, 25697000.0, 28856000.0)]

In [7]:
%sql SELECT user_id, rating, comment, heart_count FROM reviews LIMIT 10;

 * postgresql://postgres:***@localhost/SoleMateAI
10 rows affected.

[(UUID('0b9884bd-48d4-4950-b194-031f5f72eba7'), 5, 'Giày đẹp lắm, chất lượng tuyệt vời.', 250),
 (UUID('0b9884bd-48d4-4950-b194-031f5f72eba7'), 3, 'Giày tạm được nha shop.', 128),
 (UUID('0b9884bd-48d4-4950-b194-031f5f72eba7'), 3, 'Giày tạm được nha shop.', 169),
 (UUID('0b9884bd-48d4-4950-b194-031f5f72eba7'), 4, 'Giày đẹp chất lượng ổn.', 314),
 (UUID('0b9884bd-48d4-4950-b194-031f5f72eba7'), 4, 'Giày đẹp chất lượng ổn.', 399),
 (UUID('0b9884bd-48d4-4950-b194-031f5f72eba7'), 5, 'Giày đẹp lắm, chất lượng tuyệt vời.', 129),
 (UUID('0b9884bd-48d4-4950-b194-031f5f72eba7'), 5, 'Giày đẹp lắm, chất lượng tuyệt vời.', 479),
 (UUID('0b9884bd-48d4-4950-b194-031f5f72eba7'), 5, 'Giày đẹp lắm, chất lượng tuyệt vời.', 214),
 (UUID('0b9884bd-48d4-4950-b194-031f5f72eba7'), 3, 'Giày tạm được nha shop.', 402),
 (UUID('0b9884bd-48d4-4950-b194-031f5f72eba7'), 3, 'Giày tạm được nha shop.', 488)]

#### knowledge base of chatbot

In [8]:
%sql WITH ranked_shoes AS ( \
    SELECT \
        sho.id AS shoe_id, \
        sho.shoe_name, \
        b.brand_name, \
        s.size_number, \
        c.color_name, \
        sho.discounted_price, \
        sp.promotion_id, \
        ROW_NUMBER() OVER (PARTITION BY sho.brand_id ORDER BY sho.id) AS rn \
    FROM \
        shoes AS sho \
    JOIN \
        brands AS b ON sho.brand_id = b.id \
    JOIN \
        sizes AS s ON sho.size_id = s.id \
    JOIN \
        colors AS c ON sho.color_id = c.id \
    LEFT JOIN \
        shoes_promotions AS sp ON sho.id = sp.shoe_id \
    WHERE \
        sho.deleted_at IS NULL \
        AND b.deleted_at IS NULL \
        AND s.deleted_at IS NULL \
        AND c.deleted_at IS NULL \
        AND sp.promotion_id IS NOT NULL \
) \
SELECT \
    rs.shoe_id, \
    rs.shoe_name, \
    rs.brand_name, \
    rs.size_number, \
    rs.color_name, \
    rs.discounted_price, \
    p.promotion_name, \
    p.start_date AS promotion_start_date, \
    p.end_date AS promotion_end_date, \
    p.discount_percent AS promotion_discount_percent \
FROM \
    ranked_shoes AS rs \
LEFT JOIN \
    promotions AS p ON rs.promotion_id = p.id AND p.deleted_at IS NULL \
WHERE \
    rs.rn <= 2;

 * postgresql://postgres:***@localhost/SoleMateAI
8 rows affected.

[(UUID('5f1cf8aa-3ae9-4821-911a-247f62597814'), 'Reebok Classic', 'Reebok', 43, 'Orange', 1600000.0, 'Mùa Hè Sale cùng Sole Mate AI', datetime.datetime(2024, 6, 1, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 8, 31, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 20),
 (UUID('04868aae-c9cd-4144-a1b9-66de3fcf5966'), 'Reebok Classic', 'Reebok', 43, 'Black', 1600000.0, 'Mùa Hè Sale cùng Sole Mate AI', datetime.datetime(2024, 6, 1, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 8, 31, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 20),
 (UUID('5cdec552-94d3-4d14-97e1-84e0ed68e846'), 'Nike Air Max 90 Essential', 'Nike', 42, 'Yellow', 1600000.0, 'Mùa Hè Sale cùng Sole Mate AI', datetime.datetime(2024, 6, 1, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 8, 31, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 20),
 (UUID('19eae25c-ac50-4896-8125-7f9a79adebac'), 'Nike Air Max 90 Essential', 'Nike', 43, 'Red', 1600000.0, 'Mùa Hè Sale cùng Sole Mate AI', datetime.datetime(2024, 6, 1, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 8, 31, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 20),
 (UUID('4d007cc8-1246-47ff-b594-f085b16ecb67'), 'Adidas Superstar', 'Adidas', 43, 'Orange', 1800000.0, 'Quay Trở Lại Trường Học', datetime.datetime(2024, 9, 1, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 9, 30, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 10),
 (UUID('3f0a974c-48a5-471b-bb23-8fb4ea502abd'), 'Adidas Superstar', 'Adidas', 42, 'Yellow', 1800000.0, 'Quay Trở Lại Trường Học', datetime.datetime(2024, 9, 1, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 9, 30, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 10),
 (UUID('2119f1fe-4ca7-4dca-9aec-3acdcfd55e4b'), 'Puma Suede Classic+', 'Puma', 43, 'Light Blue', 1800000.0, 'Quay Trở Lại Trường Học', datetime.datetime(2024, 9, 1, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 9, 30, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 10),
 (UUID('07f8495d-8708-4c1a-a2fd-ea582f189de5'), 'Puma Suede Classic+', 'Puma', 43, 'Yellow', 1800000.0, 'Quay Trở Lại Trường Học', datetime.datetime(2024, 9, 1, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 9, 30, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 10)]