In [1]:
%load_ext sql
%sql postgresql://postgres:root@localhost/SoleMateAI

In [2]:
%sql SELECT order_date, status, updated_at, is_active, total_item, total_display_price, total_warehouse_price, total_discounted_price FROM orders LIMIT 10;

 * postgresql://postgres:***@localhost/SoleMateAI
10 rows affected.

[(datetime.datetime(2024, 1, 1, 0, 0), 'ORDER-DELIVERED', datetime.datetime(2024, 1, 1, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), False, 2, 1000000.0, 800000.0, 900000.0),
 (datetime.datetime(2024, 1, 2, 0, 0), 'ORDER-DELIVERED', datetime.datetime(2024, 1, 2, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), False, 3, 1500000.0, 1200000.0, 1350000.0),
 (datetime.datetime(2024, 1, 3, 0, 0), 'ORDER-DELIVERED', datetime.datetime(2024, 1, 3, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), False, 4, 2000000.0, 1600000.0, 1800000.0),
 (datetime.datetime(2024, 1, 4, 0, 0), 'ORDER-DELIVERED', datetime.datetime(2024, 1, 4, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), False, 5, 2500000.0, 2000000.0, 2250000.0),
 (datetime.datetime(2024, 1, 5, 0, 0), 'ORDER-DELIVERED', datetime.datetime(2024, 1, 5, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), False, 6, 3000000.0, 2400000.0, 2700000.0),
 (datetime.datetime(2024, 1, 6, 0, 0), 'ORDER-DELIVERED', datetime.datetime(2024, 1, 6, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), False, 7, 3500000.0, 2800000.0, 3150000.0),
 (datetime.datetime(2024, 1, 7, 0, 0), 'ORDER-DELIVERED', datetime.datetime(2024, 1, 7, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), False, 3, 1500000.0, 1200000.0, 1350000.0),
 (datetime.datetime(2024, 1, 8, 0, 0), 'ORDER-DELIVERED', datetime.datetime(2024, 1, 8, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), False, 4, 2000000.0, 1600000.0, 1800000.0),
 (datetime.datetime(2024, 1, 9, 0, 0), 'ORDER-DELIVERED', datetime.datetime(2024, 1, 9, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), False, 5, 2500000.0, 2000000.0, 2250000.0),
 (datetime.datetime(2024, 1, 10, 0, 0), 'ORDER-DELIVERED', datetime.datetime(2024, 1, 10, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), False, 2, 1000000.0, 800000.0, 900000.0)]

In [3]:
%sql SELECT user_id, rating, comment, heart_count FROM reviews LIMIT 10;

 * postgresql://postgres:***@localhost/SoleMateAI
10 rows affected.

[(UUID('e96db1a5-3105-431f-8bb7-ced7eea8e3eb'), 3, 'Giày tạm được nha shop.', 158),
 (UUID('e96db1a5-3105-431f-8bb7-ced7eea8e3eb'), 3, 'Giày tạm được nha shop.', 445),
 (UUID('e96db1a5-3105-431f-8bb7-ced7eea8e3eb'), 4, 'Giày đẹp chất lượng ổn.', 495),
 (UUID('e96db1a5-3105-431f-8bb7-ced7eea8e3eb'), 5, 'Giày đẹp lắm, chất lượng tuyệt vời.', 368),
 (UUID('e96db1a5-3105-431f-8bb7-ced7eea8e3eb'), 3, 'Giày tạm được nha shop.', 363),
 (UUID('e96db1a5-3105-431f-8bb7-ced7eea8e3eb'), 5, 'Giày đẹp lắm, chất lượng tuyệt vời.', 323),
 (UUID('e96db1a5-3105-431f-8bb7-ced7eea8e3eb'), 3, 'Giày tạm được nha shop.', 240),
 (UUID('e96db1a5-3105-431f-8bb7-ced7eea8e3eb'), 4, 'Giày đẹp chất lượng ổn.', 352),
 (UUID('e96db1a5-3105-431f-8bb7-ced7eea8e3eb'), 4, 'Giày đẹp chất lượng ổn.', 227),
 (UUID('e96db1a5-3105-431f-8bb7-ced7eea8e3eb'), 5, 'Giày đẹp lắm, chất lượng tuyệt vời.', 221)]